<% @blogs.each do |blog| %>
  <li class="project__item">            
    <div class="project__link focus--box-shadow">
      <div class="project__wrapper">        
        <div class="project__element project__inform">
          <%= link_to blog.date, edit_blog_path(blog), remote:true %>          
        </div>
        <div class="project__element project__inform">
          <%= link_to blog.payment.name, edit_blog_path(blog), remote:true %>          
        </div>
        <div class="project__element project__inform">
          <%= link_to blog.category.name, edit_blog_path(blog), remote:true %>          
        </div>
        <div class="project__element project__inform">
          <%= link_to blog.amount, edit_blog_path(blog), remote:true %>
        </div>
      </div>
    </div>
  </li>
<% end %>