<% @blogs.each do |blog| %>
  <ul class="project">
    <li class="project__item">
      <div class="project__link focus--box-shadow">
        <div class="project__wrapper">
          <div class="project__element project__inform">
            <%= blog.user.email %>
          </div>
          <div class="project__element project__inform">
            <%= blog.title %>
          </div>
          <div class="project__element project__inform">
            <%= blog.content %>
          </div>
          <div class="project__element project__inform">
            <%= blog.payment.name %>
          </div>
        </div>
      </div>
    </li>
  </ul>
<% end %>